*{
  padding: 0px;
  margin: 0px;
}
.navbar ul{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding-top: 17px;
  color: aliceblue;
  padding-left: 700px;
  
}
.navbar{
background-color: brown;
 height: 60px;
}